body {
    font-family: 'Fira Mono', monospace;
    background: linear-gradient(135deg, #121212, #1e1e1e);
    color: #dbe1e7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo-container::before,
.logo-container::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #dbe1e7a0;
}

.logo {
    height: 70px;
    margin: 0 10px;
    user-select: none;
}

.tagline {
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 1em;
    color: #dbe1e7;
    user-select: none;
    font-family: 'Orbitron', sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* scroll-snap-type: y mandatory; */
    padding-top: 95px; /* Add padding to create gap */
}

.card {
    /* scroll-snap-align: start; */
    flex: 0 0 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    padding: 20px;
    border: 1px solid rgba(219, 225, 231, 0.2); /* Faint border */
}

article {
    width: 100%;
    height: calc(100vh - 230px);
}

article img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.card-content {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.email-link {
    font-size: 1em;
    color: #add8e6;
    text-decoration: none;
}

html {
    /* scroll-snap-type: y mandatory; */
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

.card {
    /* scroll-snap-align: start; */
    height: 100vh; /* Ensures cards take full viewport height */
    overflow-y: auto;
}

.card-content .content {
    height: 100%;
    overflow: hidden;
}

h3 {
    margin-top: 0;
}

.language-selector {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 10px;
}

.globe-icon {
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    filter: invert(100%);
}

.language-selector select {
    background: transparent;
    border: none;
    color: #989898;
    font-size: 1em;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.language-selector select:focus {
    outline: none;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 1em;
    color: #add8e6;
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #add8e6;
    }
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #add8e6;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fade-out {
    display: -webkit-box;
    -webkit-line-clamp: 17; /* Increased line clamp */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweets {
    overflow: hidden;
}

.card-content > * {
    width: calc(33.3% - 10px) !important;
    margin-right: 10px !important;
}

.card-content > *:last-child {
    width: calc(33.3%) !important;
    margin-right: 0 !important;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #0c0c0c;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    color: white;
    overflow: hidden;
    height: 75%;
    border-radius: 10px;
    transition: height 200ms ease;
}

#modal-article {
    height: 100%;
}

#modal-article .card-content {
    height: 100%;
}

#modal-article .card-content .content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

#modal-article .card-content .content::-webkit-scrollbar {
    width: 8px;
}

#modal-article .card-content .content::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 10px;
}

#modal-article .card-content .content::-webkit-scrollbar-thumb {
    background: #add8e6;
    border-radius: 10px;
}

#modal-article .card-content .content::-webkit-scrollbar-thumb:hover {
    background: #87ceeb;
}

#modal-article .card-content .chat {
    display: none;
}

#modal-article .fade-out {
    text-overflow: unset !important;
    display: block;
    overflow: hidden;
}

#modal-article .card-content > * {
    width: calc(50% - 10px) !important;
    margin-right: 10px !important;
}

#modal-article .card-content > *:nth-child(2) {
    width: calc(50%) !important;
}

#modal-article .tabs {
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #545454;
    text-decoration: none;
    cursor: pointer;
}

.chat-bubble {
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #dbe1e7;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #dbe1e7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #2c2c2c;
}

.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: #add8e6;
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #87ceeb;
}

.input-block {
    display: flex;
    align-items: center;
}

.input-block input {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #dbe1e7;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #dbe1e7;
    margin-right: 10px;
}

.input-block button {
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #add8e6;
    color: #1e1e1e;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
    filter: saturate(0.5) brightness(0.75);
    transition: filter 200ms ease;
}

footer {
    font-size: 0.9em;
}

footer .email {
    text-decoration: none;
}

.video-container {
    width: 100%;
}

.modal video {
    width: 100%;
    max-height: 65vh;
}

.video-container {
    position: relative;
    margin-bottom: 30px;
}

.video-container canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container .success-bar {
    height: 10px;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width 150ms ease;
}

.video-container .success-bar::after {
    position: absolute;
    bottom: -18px;
    left: 0;
    font-family: inherit;
    color: inherit;
    font-size: 0.9em;
    width: 100vw;
}

.video-container .success-bar.level-0 {
    background-color: #790000;
    color: #bb0000;
}

.video-container .success-bar.level-0::after {
    content: 'Show your face clearly.'
}

.video-container .success-bar.level-1 {
    background-color: #c56700;
    color: #c56700;
}

.video-container .success-bar.level-1::after {
    content: 'Hold your face steady and straight-on.'
}

.video-container .success-bar.level-2 {
    background-color: #1c5e13;
    color: #1a940a;
}

.video-container .success-bar.level-2::after {
    content: 'Good! Press submit.'
}

.modal h2 {
    margin-top: 5px;
    color: white;
}

.face-check-modal .modal-content {
    height: auto;
}

.modal .card {
    border: none;
}

input.error {
    border-color: #960000;
}

.tweet {
    padding: 10px;
    border: 1px solid #2f3336;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #1c1e21;
    font-family: Arial, sans-serif;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: block;
    color: inherit;
}
.tweet h3 {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}
.tweet p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #8899a6;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    gap: 0.5rem;
}
.tabs button {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    background: #333;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-size: 0.875rem;
    font-weight: bold;
    color: #bbb;
    border-radius: 0.5rem;
    font-family: 'Fira Mono', monospace;
}
.tabs button.active {
    background: #555;
    color: white;
    border-bottom: none;
}
.tabs button:not(.active):hover {
    background: #444;
}
.tweets {
    list-style: none;
    padding: 0;
}
.tweets li {
    margin-bottom: 0.5rem;
}
.tweets a {
    color: #1DA1F2;
    text-decoration: none;
}
.tweets a:hover {
    text-decoration: underline;
}
.signout-float {
    position: absolute;
    top: 10px;
    right: 30px;
    font-family: inherit;
    background: none;
    outline: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}